#slider-container {
    width:100%;
    height: 100vh;
    position: relative;
}

.slide .slide-item {
    width: 200px;
    height: 300px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(50%, -50%);
    background-size: cover;
    background-position: center;
    transition: 1s;
    opacity: 0;
    filter: blur(10px)
}

.slide .slide-item-overlay{
    background-color: rgba(2, 24, 33,.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
}

.slide .slide-item:nth-child(1),
.slide .slide-item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
    opacity: 1;
    filter: blur(0)
}

.slide .slide-item:nth-child(n + 3){
    opacity: 0;
}

.slide .slide-item .slide-content{
    position: absolute;
    top: 50%;
    left: 150px;
    width: 500px;
    text-align: left;
    color: white;
    transform: translate(0, -50%);
    display: none;
    font-family: "Montserrat";
    z-index: 13;
}

.slide .slide-item:nth-child(2) .slide-content{
    display: block;
}

.slide-content .name{
    font-size: 50px;
    font-weight: 700;
    font-family: "Garamond";
    opacity: 0;
    animation: animate 1s ease-in-out  0.3s 1 forwards;
    line-height: 50px;
}

.slide-content .subtext{
    font-size: 17px;
    margin-top: 20px;
    opacity: 0; 
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.slide-content .socials{
    opacity: 0; 
    animation: animate 1s ease-in-out 0.9s 1 forwards;
}


@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px)
    }
    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

#slide-buttons {
    bottom: 100px;
    position: absolute;
    right: 50px;
    font-family: "Montserrat";
    cursor: pointer;
    opacity: 0.5;
}

#slide-buttons .slide-button:hover {
    font-weight: 600;
    text-decoration: underline;
}

@media screen and (max-width: 700px) {
  .slide .slide-item .slide-content{
        left: 0px;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .slide-content .name{
        font-size: 40px;
    }

    .slide-content .subtext{
        font-size: 15px;
    }
}

@media screen and (max-width: 400px) {
  .slide .slide-item .slide-content{
        left: 0px;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .slide-content .name{
        font-size: 35px;
    }

    .slide-content .subtext{
        font-size: 15px;
    }
}